/* Coolors Exported Palette - coolors.co/0c0a3e-7b1e7a-efc7c2-f9564f-f3c677 */

/* HSL */
$color1: hsla(242%, 72%, 14%, 1);
$color2: hsla(301%, 61%, 30%, 1);
$color3: hsla(7%, 58%, 85%, 1);
$color4: hsla(2%, 93%, 64%, 1);
$color5: hsla(38%, 84%, 71%, 1);

/* RGB */
$color1: rgba(12, 10, 62, 1);
$color2: rgba(123, 30, 122, 1);
$color3: rgba(239, 199, 194, 1);
$color4: rgba(249, 86, 79, 1);
$color5: rgba(243, 198, 119, 1);